@import './icon-font.scss';

:root {
  font-family: toppan-bunkyu-gothic-pr6n, sans-serif;
  font-size: 16px;
  color: #443638;
}

html {
  background-color: #fffcf9;

  * {
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.wf-active * {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #e56399;
}

.simplebar-content-wrapper {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

.simplebar-scrollbar::before {
  background-color: #fff !important;
  box-shadow: 0 0 5px rgba(#665255, 0.5);
}
